$black: #000000;
$white: #FFFFFF;
$purple:#461464;
$cyan:#01959e;
$grey: #B4B4B4;
$greyfield: #EDEDED;
$lightgrey: #F3F3F3;
$red:#581229;
$redlight:rgb(202, 71, 69);
$blue:#0B1A44;
$darkblue:#0D1C45;

$mainFontSize:14px;
$mainFont:'Solomon Sans Normal', sans-serif;
$extraFont:'Solomon Sans Normal', sans-serif;
